$primaryColor: #334155;
$secondaryColor: #e2e8f0;
$textColor: #f9fafb;
$textHover: #9ca3af;
$shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$boxColor: #f8fafc;
$reactColor: #60DBFA;
